APP_SECRET=aquiachavedaapi
APP_API_URL=http://localhost:3333
APP_WEB_URL=

#Email
MAIL_DRIVER=ethereal

# AWS CREDENTIAL
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

#Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASS=

#storage
STORAGE_DRIVER=disk

#PIX
GN_CLIENT_ID=
GN_CLIENT_SECRET=
GN_ENV=Homologacao
GN_CERTIFICADO=
GN_BASE_URL="https://api-pix-h.gerencianet.com.br"
GN_CHAVE_PIX=f8ae7843-a536-4384-9cf6-cb984336d59c